<li>
    <div class="search2">
        <form method="post" action="{{ path('theblog_recherche') }}">
            {{ form_widget(formrecherche.titre) }}
            <input type="submit" value="">
            {{ form_rest(formrecherche) }}
        </form>
    </div>
</li>
<div class="clearfix"></div>